---
//import CallToAction from '~/components/widgets/CallToAction.astro';
//import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
//import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Ajudes',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Ajudes"
    title="Troba les ajudes a la teva disposició"
    subtitle="Benvinguts a la secció d'Ajuda del nostre Projecte de Solidaritat. Aquí trobaràs informació detallada sobre les diferents ajudes disponibles per a aquells que necessiten suport. La nostra missió és assegurar-nos que aquesta informació sigui accessible i fàcil d'entendre. Descobreix com pots accedir a les següents ajudes:"
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Les Ajudes Disponibles:"
    subtitle="Aquestes són les ajudes que podras demanar sense moltes complicacions"
    columns={3}
    items={[
      {
        title: 'Ingres Minim Vital (IMV)',
        description:
          "L'Ingrés Mínim Vital (IMV) és una prestació destinada a prevenir el risc de pobresa i exclusió social de persones que viuen soles o estan en una unitat de convivència i manquen de recursos econòmics bàsics per cobrir les seves necessitats essencials",
        icon: 'tabler:school',
        callToAction: {text: "IMV", href: "/"}
      },
      {
        title: 'Prestacions per la perdida de vivenda',
        description:
          "Les Prestacions econòmiques d'especial urgència davant de la pèrdua de l'habitatge per desnonament o execució hipotecària estan dissenyades per a les persones que han perdut la seva llar a causa d'un desnonament o execució hipotecària i són titulars d'un contracte de lloguer.",
        icon: 'tabler:home-star',
        callToAction: {text: "Prestacions per la perdida de vivenda", href: "/"}
      },
      {
        title: "Prestacions per la deuda d'alquiler",
        description: `Prestació per fer front als impagaments de les quotes del lloguer amb l'objectiu de possibilitar la permanència a l'habitatge de la persona sol·licitant i la seva unitat de convivència.`,
        icon: 'tabler:photo',
        callToAction: {text: "Prestacions per la deuda d'alquiler", href: "/"}
      },
      {
        title: 'Prestacions per a families en urgencia amb menors de 16 anys',
        description:
          "L'objectiu és alleujar la situació de vulnerabilitat de les famílies amb nens i/o adolescents entre 0 i 16 anys, amb necessitats i amb la finalitat de permetre que la situació econòmica de la unitat familiar cobreixi les necessitats bàsiques de subsistència.",
        icon: 'tabler:shopping-cart',
        callToAction: {text: "Prestacions per a families en urgencia amb menors de 16 anys", href: "/"}
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Menjadors Socials"
    subtitle="Llistat dels menjadors socials a la nostra àrea amb adreces i horaris."
    columns={3}
    items={[
      {
        title: '15 Av. de Sant Ildefons',
        icon: 'tabler:school',
        callToAction: {text: "Mapa", href: "https://www.google.com/maps/place/Sant+Ildefons+de+Cornellà/@41.3647068,2.083415,3a,75y,119.71h,91.81t/data=!3m6!1e1!3m4!1ssH6MYCxTVGJdVduD8dlvwg!2e0!7i16384!8i8192!4m20!1m13!4m12!1m4!2m2!1d2.075722!2d41.3524734!4e1!1m6!1m2!1s0x12a498994ee53c53:0xbd78c9408b37e82e!2sCàritas+Diocesana+de+Barcelona+-+Zona+Pastoral+4+(Barcelonès+Sud),+Av.+de+Sant+Ildefons,+15,+08940+Cornellà+de+Llobregat,+Barcelona!2m2!1d2.0835978!2d41.3646625!3m5!1s0x12a4996a57e51549:0xfceaad4922b9c591!8m2!3d41.3646689!4d2.083731!16s%2Fg%2F11xj2ffjd?entry=ttu", target: '_blank'}
      },
      {
        title: '102 C/ de Joaquim Rubió i Ors',
        icon: 'tabler:home-star',
        callToAction: {text: "Mapa", href: "https://www.google.com/maps/@41.3538484,2.0684866,3a,54.6y,217.77h,85.71t/data=!3m6!1e1!3m4!1sjb959qch3aOfO0xV4oxmpA!2e0!7i16384!8i8192?entry=ttu", target: '_blank'}
      },
      {
        title: "14 Carrer de Cristòfor Llargués i Campmany",
        icon: 'tabler:photo',
        callToAction: {text: "Mapa", href: "https://www.google.com/maps/@41.361095,2.0796454,3a,75y,233.45h,69.15t/data=!3m6!1e1!3m4!1s4I-4C46sIrekFxFT0c1neQ!2e0!7i16384!8i8192?entry=ttu", target: '_blank'}
      }
    ]}
  />

  <!-- Content Widget **************** -->

  {/*<Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
      {
        title: 'Pre-Designed Elements',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Preview and Mockup Views',
        description:
          'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Start exploring',
      href: '/',
    }]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />*/}
</Layout>
